---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
---

<Layout title="redtech / 404 not found">
    <Line />
    <section>
        <h4>404 / Not Found</h4>
        <a href="/">inicio.</a>
    </section>
    <Line />
</Layout>

<style>
    section {
        text-align: center;
    }
</style>
