---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
import ShowCard from "../components/ShowCard.astro";
---

<Layout title="redtech / about">
    <Line />
    <h2>About</h2>
    <p>
        Aut quia accusantium tempora ut quis eos modi cum voluptatum ab nostrum
        quae, sit non architecto eligendi cumque officiis illum iure id
        molestias facilis, ipsum esse voluptate. Ad, nulla aperiam ipsam
        veritatis totam cumque rem deleniti officiis, atque libero sit.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        veniam repellendus tempore consequatur libero aliquid velit voluptatum
        dolorem!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        veniam repellendus tempore consequatur libero aliquid velit voluptatum
        dolorem!
    </p>

    <Line />

    <ShowCard>
        <a href="/404">Go to 404</a>
    </ShowCard>

</Layout>
