---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
import ShowCard from "../components/ShowCard.astro";
---

<Layout title="redtech / componentes">
    <h2>Componentes</h2>

    <Line />

    <ShowCard>
        <h3>Componente ShowCard</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos,
            molestiae nobis quae quas numquam voluptatem, veniam non nisi ipsa,
            sapiente dicta.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
            ipsam sit officia ut.
        </p>
    </ShowCard>

    <ShowCard>
        <h3>Titulo</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos,
            molestiae nobis quae quas numquam voluptatem, veniam non nisi ipsa,
            sapiente dicta.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
            ipsam sit officia ut.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
            excepturi reiciendis ullam fugit, perferendis porro aperiam
            veritatis. Asperiores!
        </p>
    </ShowCard>

    <ShowCard>
        <h3>+code</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            beatae dolores ex facilis, ullam voluptates quia minima expedita hic
            tempora magnam commodi aperiam, nisi quasi velit ab sint aut maiores
            ratione voluptatibus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            assumenda?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            corrupti dolorem labore, earum maxime incidunt facere quam. Dolores
            aliquid, debitis sequi quisquam eveniet esse veniam odio voluptatum,
            iusto dicta harum autem veritatis eius, delectus reprehenderit
            consequatur possimus numquam molestias at saepe? Commodi.
        </p>
    </ShowCard>

    <Line />
</Layout>

<style></style>
